*{
    margin: 0;
    padding: 0;
}
.box1{
    background-color: red;
    float: left;
    width: 40%;
}

.box2{ 
    background-color: blue;
    float: right;
    width: 40%;
}

p{
    position:sticky;
    top:0px;
}